Client/Connected Services/ServiceReference1/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.artech.com/" elementFormDefault="qualified" targetNamespace="http://www.artech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:9999/calculatorservice/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:element name="AddExy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="x" nillable="true" type="q1:Calculator" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="y" nillable="true" type="q2:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="AddExyResult" nillable="true" type="q3:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="x" nillable="true" type="q4:Calculator" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="y" nillable="true" type="q5:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="SubtractResult" nillable="true" type="q6:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="x" nillable="true" type="q7:Calculator" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="y" nillable="true" type="q8:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="MultiplyResult" nillable="true" type="q9:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="x" nillable="true" type="q10:Calculator" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="y" nillable="true" type="q11:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="DivideResult" nillable="true" type="q12:Calculator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>